/**
 * Devseed Theme for reveal.js
 * Author: Anthony http://github.com/alukach
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700|Gelasio:400i&display=swap");

* {
  --ds-orange: #cf3f02;
  --black: #534e4e;
  --white: white;
  --dark: rgba(255, 255, 255, 0.3);
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
.dark body {
  color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0;
  font-weight: 300;
  font-size: 40px;

  color: #fff;
  background: #222;
}

.bg-50 {
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-75 {
  background-color: rgba(0, 0, 0, 0.75);
}
.offset {
  position: absolute;
  width: 40%;
  right: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 5px 25px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding: 20px;
}

hr {
  background-color: var(--ds-orange);
  border: 0;
  height: 4px;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
}

::selection {
  background: var(--dark);
}

::-moz-selection {
  color: #fff;
  background: var(--ds-orange);
}

.slides section,
.slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 1.2;
  letter-spacing: normal;
  word-wrap: break-word;
  text-shadow: 0px 0px 30px rgba(0, 0, 0);
}

h1 {
  font-size: 3.77em;
}

h2 {
  font-size: 2.11em;
}

h3 {
  font-size: 1.55em;
}

h4 {
  font-size: 1em;
}

/*********************************************
 * OTHER
 *********************************************/
p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
img,
video,
iframe {
  max-width: 95%;
  max-height: 95%;
}

strong,
b {
  font-weight: bold;
}

em {
  font-style: italic;
}

ol,
dl,
ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: square;
}

ul ul ul {
  list-style-type: circle;
}

li {
  margin-bottom: 0.5em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  display: block;
  margin-left: 40px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 40px;
}

/*
blockquote
*/
blockquote {
  margin: 0;
}
blockquote p {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 8px;
  font-family: "Gelasio", serif;
  font-style: italic;
  font-size: 0.7em;

  border-left: 5px solid #ddd;
  color: #ccc;
  text-align: left;
  padding-left: 1em;
}
blockquote p::before {
  content: "\201C";
}
blockquote p::after {
  content: "\201D";
}
blockquote p:first-child,
blockquote p:last-child {
  display: inline-block;
}
blockquote cite {
  font-style: italic;
  font-size: 0.6em;
}
blockquote cite::before {
  content: "\2014\2002";
}

q {
  font-style: italic;
}

pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

code {
  font-family: monospace;
  text-transform: none;
}

pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  font-weight: bold;
}

table th,
table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

table th[align="center"],
table td[align="center"] {
  text-align: center;
}

table th[align="right"],
table td[align="right"] {
  text-align: right;
}

table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
a {
  color: var(--ds-orange);
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

a:hover {
  color: #dd5566;
  border: none;
}

.roll span:after {
  color: #fff;
  background: #6a1520;
}

/*********************************************
 * IMAGES
 *********************************************/
section img {
  margin: 15px 0px;
}

section img.plain {
  border: 0;
  box-shadow: none;
}

a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: var(--ds-orange);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.controls {
  color: var(--ds-orange);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--ds-orange);
}

.progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #222;
  }
}

code {
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  border-radius: 2px;
  font-size: smaller;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

pre code {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

small code {
  vertical-align: baseline;
}
